/*************************Main**********************************/
body {
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
    width: 100vw;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button:active {
    transform: scale(.95);
}

/**************************Header*****************************/
header {
    width: 100vw;
    height: 95vh;
    background-image: url("assets/images/mountain.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/***********************Navigation Bar************************/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #f6f5f5;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}
nav ul {
    display: flex;
}
nav ul li a {
    margin: 30px;
    font-family: ubuntu ;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}
nav ul li a:hover {
    text-shadow: 3px 3px 4px #5b9675 ;
}
.logo {
    font-family: ubuntu ;
    color: #5b9675;
    font-size: 26px;
    font-weight: 400;
    cursor: default;
}
.logo:hover {
    color: #384c64;
    text-shadow: 3px 3px 4px #5b9675;
}
/*******************About-Me*************************/
.text-container p:nth-child(1) {
    font-family: ubuntu ;
    font-weight: bold;
    letter-spacing: 1px;
    color: #5b9675;
    font-size: 60px;
}
.text-container p:nth-child(2) {
    font-family: ubuntu ;
    color: #f6f5f5;
    font-size: 30px;
    line-height: 30px;
}
.text-container p {
    line-height: 0px;
    margin: 45px 0px 25px 0px;
}
.text-container {
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}
.mypic {
    height: 380px;
    position:absolute;
    bottom: 28%;
    left: 80%;
    transform: translateX(-80%);
    border: 1px solid #f6f5f5;
    border-radius: 5px;
    flex-shrink: 3;
}
.about-container {
    width: 80%;
    height: 330px;
    background-color: #f6f5f5;
    border-radius: 10px;
    box-shadow: 8px 10px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.about-container img {
    height: 250px;
    border: 1px solid #f6f5f5;
    border-radius: 5px;
    padding: 30px;
}
.about-text {
    width: fit-content;
    height: fit-content;
}
.about-text p:nth-child(1) {
    color: #303030;
    font-family: ubuntu ;
    font-weight: bold;
    font-size: 26px;
    line-height: 10px;
    text-shadow: 2px 2px 4px #818181;
}
.about-text p:nth-child(2) {
    color:#303030;
    font-size: 13px;
    font-family: ubuntu ;
    font-weight: bold;
    line-height: 5px;
    padding-bottom: 10px;
}
.about-text p:nth-child(3) {
    color: #303030;
    font-family: ubuntu ;
    font-size: 17px;
}
.about-text button {
    width: 120px;
    height: 40px;
    color:#f6f5f5;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: ubuntu ;
    background-color: #505050;
    cursor: pointer; 
}
.about-text button:hover {
    background-color: #303030;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}
/*******************Work Display Section*******************/
.work {
    background-color: #f6f5f5;
    padding: 2% 10% 0px 10%;
    margin: 5% 0;
}
.work-text {
    text-align: center;
}
.work-text p:nth-child(1) {
    font-family: ubuntu ;
    font-weight: bold;
    color: #505050;
    font-size: 30px;
    line-height: 0px;
    text-shadow: 2px 2px 4px #818181;
}
.work-text p:nth-child(2) {
    font-family: ubuntu ;
    font-weight: bold;
    color: #505050;
    font-size: 21px;
    line-height: 15px;
}
.box-1 {
    width: 400px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover ;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3);
    border: 2px solid #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-2, .box-3 {
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover ;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3);
    border: 2px solid #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-container {
    display: flex;
    justify-content: space-between;
}
.box-1 {
    background-image: url(assets/images/meteor-rush.png);
    margin: 20px;
}
.box-2, .box-3 {
    background-color: #384c64;
    margin: 20px;
}
.box-1 span, .box-2 span, .box-3 span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #303030 ;
    color: #f6f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ubuntu ;
    font-weight: bold;
    border: 1px solid #f6f5f5;
}
.box-1 p:nth-child(2), .box-2 p:nth-child(2), .box-3 p:nth-child(2) {
    color: #f6f5f5;
    font-family: ubuntu ;
    font-size: 23px;
    line-height: 0px;
}
.box-1 p:nth-child(3), .box-2 p:nth-child(3), .box-3 p:nth-child(3) {
    font-family: ubuntu ;
    text-align: center;
    width: 230px;
    margin-bottom: 20px;
    color:#f6f5f5;
}
.box-1 button, .box-2 button, .box-3 button {
    width: 100px;
    height: 30px;
    background-color: #f6f5f5;
    font-family: ubuntu ;;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.box-1 button:hover, .box-2 button:hover, .box-3 button:hover {
    background-color: #303030;
    color: #f6f5f5;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}
.box-1:hover, .box-2:hover, .box-3:hover {
    box-shadow: 6px 6px 4px #f6f5f5;
}
a:visited {
    text-decoration: none;
}
/*************************Moon-Images********************************/
.gallery-text {
    text-align: center;
}
.gallery-text p:nth-child(1) {
    font-family: ubuntu ;
    font-weight: bold;
    color: #505050;
    font-size: 30px;
    line-height: 0px;
    text-shadow: 2px 2px 4px #818181;
}
.gallery-text p:nth-child(2) {
    font-family: ubuntu ;
    font-weight: bold;
    color: #505050;
    font-size: 21px;
    line-height: 15px;
}
.row {
    text-align: center;
    margin-bottom: 5%;
}
.column {
    display: inline-block;
    padding: 0.5%;
}
.column img {
    border: 2px solid #f6f5f5;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3);
}
.column img:hover {
    box-shadow: 6px 6px 4px #f6f5f5;
    border: 2px solid #303030;
}
/***********************Contact-Me***************************/
.contact-me {
    width: 100%;
    height: 280px;
    background-color: #384c64;
    background-size: cover;
    border-bottom: 6px solid #303030 ;
    border-top: 6px solid #303030 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-me p{
    color: #f6f5f5;
    font-size: 30px;
    font-family: ubuntu ;
    font-weight: bold;
    text-shadow: 4px 4px 6px #303030;
}
.contact-me button {
    width: 200px;
    height: 40px;
    background-color: #f6f5f5;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.contact-me button:hover {
    background-color: #303030;
    color: #f6f5f5;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
    cursor: pointer;
}
 /*****************************Footer****************************/
footer {
    height: 300px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    position: relative;
}
footer p {
    font-family: ubuntu ;
}
footer p:nth-child(1) {
    font-family: ubuntu ;
    font-weight: bold;
    color: #505050;
    font-size: 30px;
    text-shadow: 2px 2px 4px #818181;
}
footer p:nth-child(2) {
    font-size: 16px;
    color: #384c64;
    text-align: center;
}
.social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f6f5f5;
    background-color: #303030;
    margin: 20px 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #505050;
}
.social-icons{
    display: flex;
}
.copyright {
    color: #384c64;
    font-size: 13px;
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 10px;
    transform:translateY(-50%);
}
.social-icons a:hover {
    background-color: #303030;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}
.a-social-icons {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateX(-50%);
}
.a-social-icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #f6f5f5;
    border: 1px solid #303030;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.a-social-icons a:hover {
    background-color: #303030;
    color: #f6f5f5;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}
/******************************Media Queries******************************/
@media screen and (max-width: 992px) {
    * {
        box-sizing:border-box;
    }
    .mypic {
        height:-50%;
        left: 90%;
        transform: translateX(-72%);
    }
    .text-container {
        top: 46%;
    }
    .text-container button {
        margin: 5px;
    }
    .text-container p:nth-child(1) {
        letter-spacing: 1px;
        font-size: 40px;
    }
    .text-container p:nth-child(2) {
        font-size: 20px;
        line-height: 20px;
    }
    .about-container {
        width:90%;
        border-radius: 10px;
    }
    .about-container img {
        height: 300px;
    }
    .about-text {
        width: fit-content;
        height: fit-content;
    }
    .about-text p:nth-child(1) {
        font-size: 20px;
    }
    .about-text p:nth-child(2) {
        font-size: 10px;
    }
    .about-text p:nth-child(3) {
        font-size: 14px;
    }
    .work {
        padding: 2% 5% 0px 5%;
    }
    .box-container {
        justify-content: center;
        flex-wrap: wrap;
    }
    .work {
        height: auto;
    }
    .box-1, .box-2, .box-3 {
        flex-grow: 1;
        margin: 10px;
    }
    .contact-me {
        height: 200px;
    }
    .contact-me p{
        font-size: 26px;
    }
    .contact-me button {
        font-size: 14px;
        height: 35px;
        width: 160px;
    }

}
@media screen and (max-width: 768px) {
    header {
        background-image: none;
        background-color: #384c64;
    }
    .mypic {
        display: none;
    }
    .about-container {
        top: 0px;
        flex-direction: column;
        width: 90%;
        height: auto;
        padding-bottom: 50px;
        align-items: center;
    }
    .about-text {
        width: 90%;
        text-align: center;
    }
    .work-text {
        width: 100%;
    }
    .contact-me {
        height: 180px;
    }
    .contact-me button {
        width: 150px;
        height: 33px;
    }
    .contact-me p{
        font-size: 18px;
    }
    .about-container img {
        display: none;
    }
    .text-container p:nth-child(2) {
        line-height: 40px;
        margin: 0px;
        padding: 0px;
    }
    .text-container{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
    }
    nav {
        margin: 0px;
        padding: 0px;
        background-color: #f6f5f5;
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        height: 70px;

    }
    nav ul li a {
        padding-bottom: 20px;
        font-size: 80%;
    }
}
@media screen and (max-width: 492px) {
    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-container p:nth-child(1) {
        line-height: 100%;
        margin: 0px;
        padding: 0px;
    }
    .about-text {
        width: fit-content;
        height: fit-content;
        padding: 5%;
    }
    .about-text p:nth-child(2) {
        line-height: 15px;
    }
    .work-text p:nth-child(2) {
        line-height: 25px;
    }
    .copyright {
        flex-direction: column;
        bottom: 0%;
    }
}